<p *ngIf="!(isValid$ | async)" class="error">Gasp! You may not have more than 5 active todos!!!</p>
<div class="new-todo-input">
  <input type="text"
    [(ngModel)]="newTodoName"
    (ngModelChange)="store.set(['newTodoName'], $event)"
  >
  <button (click)="addTodo()">Add</button>
</div>
You have {{activeCount$ | async}} active todos, and {{completeCount$ | async}} complete todos.
<ul class="todos">
    <store-todo-item
      *ngFor="let todo of todos$ | async; let i = index; trackBy: trackByFn"
      [store]="store"
      [index]="i"
      >
    </store-todo-item>
  </ul>
<pre class="state-display">{{ store.get([]) | async | json }}</pre>
