.new-todo-input {
  padding: 10px;
}

.todos {
  background-color: lightblue;
  padding: 10px;
}

.todo {
  list-style: none;
  padding-left: 0;
}

.state-display {
  background-color: #eee;
  padding: 10px;
}
